{% extends 'base.html.twig' %}

{% block title %}Manga{% endblock %}

{% block body %}
    <h1>Manga</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ manga.id }}</td>
            </tr>
            <tr>
                <th>Api_id</th>
                <td>{{ manga.apiId }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ manga.titre }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ manga.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_manga_index') }}">back to list</a>

    <a href="{{ path('app_manga_edit', {'id': manga.id}) }}">edit</a>

    {{ include('manga/_delete_form.html.twig') }}
{% endblock %}
